<a href="https://colab.research.google.com/github/sahilpokhriyal/cv/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd

In [37]:
data = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
test_ids = test["PassengerId"]

def clean(data):
    data = data.drop(["Ticket", "PassengerId", "Name", "Cabin"], axis=1)
    
    cols = ["SibSp", "Parch", "Fare", "Age"]
    for col in cols:
        data[col].fillna(data[col].median(), inplace=True)
        
    data.Embarked.fillna("U", inplace=True)
    return data

data = clean(data)
test = clean(test)

In [38]:
data.head(3)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S

In [39]:
# Define the mapping for categorical variables
sex_mapping = {'female': 0, 'male': 1}
embarked_mapping = {'C': 0, 'Q': 1, 'S': 2, 'U': 3}

# Apply mapping to the 'Sex' column in both train and test data
data['Sex'] = data['Sex'].map(sex_mapping)
test['Sex'] = test['Sex'].map(sex_mapping)

# Apply mapping to the 'Embarked' column in both train and test data
data['Embarked'] = data['Embarked'].map(embarked_mapping)
test['Embarked'] = test['Embarked'].map(embarked_mapping)

# Print the classes of the encoded variables
print(data['Sex'].unique())
print(data['Embarked'].unique())

# Display the updated data
data.head(5)

[1 0]
[2 0 1 3]

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [21]:
import numpy as np

# Set random seed for reproducibility
np.random.seed(42)

# Shuffle the indices of the data
indices = np.arange(len(data))
np.random.shuffle(indices)

# Define the size of the validation set
val_size = int(0.2 * len(data))

# Split the data into training and validation sets based on the shuffled indices
train_indices = indices[val_size:]
val_indices = indices[:val_size]

# Split the features and target variables into training and validation sets
X_train = X.iloc[train_indices]
X_val = X.iloc[val_indices]
y_train = y.iloc[train_indices]
y_val = y.iloc[val_indices]

In [25]:
# Check for missing values in X_train
missing_values = X_train.isnull().sum()
print(missing_values)

# Handle missing values in X_train
X_train.fillna(X_train.median(), inplace=True)

# Create and fit the logistic regression model
clf = LogisticRegression(random_state=0, max_iter=1000)
clf.fit(X_train, y_train)

Pclass        0
Sex           0
Age         140
SibSp         0
Parch         0
Fare          0
Embarked      0
dtype: int64

LogisticRegression(max_iter=1000, random_state=0)

In [32]:
# Check for missing values in validation data
missing_values = X_val.isnull().sum()
print(missing_values)

# Print rows with NaN values in validation data
nan_rows = X_val[X_val.isnull().any(axis=1)]
print(nan_rows)

Pclass       0
Sex          0
Age         37
SibSp        0
Parch        0
Fare         0
Embarked     0
dtype: int64
     Pclass  Sex  Age  SibSp  Parch      Fare  Embarked
709       3    1  NaN      1      1   15.2458         0
300       3    0  NaN      0      0    7.7500         1
485       3    0  NaN      3      1   25.4667         2
653       3    0  NaN      0      0    7.8292         1
538       3    1  NaN      0      0   14.5000         2
793       1    1  NaN      0      0   30.6958         0
235       3    0  NaN      0      0    7.5500         2
198       3    0  NaN      0      0    7.7500         1
739       3    1  NaN      0      0    7.8958         2
837       3    1  NaN      0      0    8.0500         2
790       3    1  NaN      0      0    7.7500         1
168       1    1  NaN      0      0   25.9250         2
196       3    1  NaN      0      0    7.7500         1
778       3    1  NaN      0      0    7.7375         1
250       3    1  NaN      0      0    7.2500         2
388       3    1  NaN      0      0    7.7292         1
76        3    1  NaN      0      0    7.8958         2
669       1    0  NaN      1      0   52.0000         2
849       1    0  NaN      1      0   89.1042         0
527       1    1  NaN      0      0  221.7792         2
578       3    0  NaN      1      0   14.4583         0
359       3    0  NaN      0      0    7.8792         1
65        3    1  NaN      1      1   15.2458         0
481       2    1  NaN      0      0    0.0000         2
306       1    0  NaN      0      0  110.8833         0
31        1    0  NaN      1      0  146.5208         0
584       3    1  NaN      0      0    8.7125         0
109       3    0  NaN      1      0   24.1500         1
77        3    1  NaN      0      0    8.0500         2
611       3    1  NaN      0      0    7.0500         2
643       3    1  NaN      0      0   56.4958         2
82        3    0  NaN      0      0    7.7875         1
507       1    1  NaN      0      0   26.5500         2
375       1    0  NaN      1      0   82.1708         0
5         3    1  NaN      0      0    8.4583         1
457       1    0  NaN      1      0   51.8625         2
773       3    1  NaN      0      0    7.2250         0

In [33]:
# Check for missing values in test data
missing_values = test.isnull().sum()
print(missing_values)

# Print rows with NaN values in test data
nan_rows = test[test.isnull().any(axis=1)]
print(nan_rows)

# Handle missing values in test data
test.fillna(test.median(), inplace=True)

# Make predictions on the test set
submission_preds = clf.predict(test)

# Create submission DataFrame
submission = pd.DataFrame({"PassengerId": test_ids, "Survived": submission_preds})

# Save the DataFrame to a CSV file
submission.to_csv("submission.csv", index=False)

Pclass        0
Sex         418
Age           0
SibSp         0
Parch         0
Fare          0
Embarked    418
dtype: int64
     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0         3  NaN  34.5      0      0    7.8292       NaN
1         3  NaN  47.0      1      0    7.0000       NaN
2         2  NaN  62.0      0      0    9.6875       NaN
3         3  NaN  27.0      0      0    8.6625       NaN
4         3  NaN  22.0      1      1   12.2875       NaN
..      ...  ...   ...    ...    ...       ...       ...
413       3  NaN  27.0      0      0    8.0500       NaN
414       1  NaN  39.0      0      0  108.9000       NaN
415       3  NaN  38.5      0      0    7.2500       NaN
416       3  NaN  27.0      0      0    8.0500       NaN
417       3  NaN  27.0      1      1   22.3583       NaN

[418 rows x 7 columns]

ValueError: ignored

In [34]:
df = pd.DataFrame({"PassengerId": test_ids.values,
                   "Survived": submission_preds,
                  })

In [35]:
# Create a DataFrame for submission
submission = pd.DataFrame({"PassengerId": test_ids, "Survived": submission_preds})

# Save the DataFrame to a CSV file
submission.to_csv("submission.csv", index=False)